@mixin vertical-center(){
  top: 50%;
  transform: translateY(-50%);
}

html, body, #app {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.870588); //from Material UI theme
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .body-content {
    flex: 1 0 auto;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.navbar-header {
  position: relative;
  display: flex;
  background-color: #b2ebf2;
  border-bottom: 1px solid #00acc1;
  padding: 0 24px;
  text-shadow: 0 1px 0 rgba(0,0,0, .2);
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li + li {
      margin-left: 10px;
    }
  }
}

.link-icon {
  position: absolute;
  @include vertical-center;
  left: 0;
}

.auth-form {
  width: 100%;
  .form-row {
    width: 100%;
    margin: 0 auto;
  }
}

output {
  margin-top: 20px;
}

footer {
  margin: 0 auto;
  width: 80%;
  padding: 24px;
  display: flex;
  align-items: center;
  a {
    margin-left: 10px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 1110;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    &.ring {
      stroke-dasharray: 190 110;
      stroke-dashoffset: 280;
      stroke: #00bcd4;
      fill: none;
      stroke-width: 10;
      animation: loading 1s linear infinite forwards;
    }
  }
}

@keyframes loading {
  to {
    stroke-dashoffset: 0;
  }
}
